<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VertConveyerEND_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,146}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{188,146}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>VertConveyerEND_down10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{188,146}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{188,146}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>VertConveyerEND_down11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{188,146}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{188,146}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>VertConveyerEND_down12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{188,146}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{188,146}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>VertConveyerEND_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{188,146}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{188,146}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>VertConveyerEND_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{188,146}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{188,146}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>VertConveyerEND_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{188,146}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{188,146}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>VertConveyerEND_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{188,146}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{188,146}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>VertConveyerEND_down6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{188,146}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{188,146}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>VertConveyerEND_down7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{188,146}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{188,146}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>VertConveyerEND_down8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{188,146}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{188,146}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
            <key>VertConveyerEND_down9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1630},{188,146}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{188,146}}</string>
                <key>sourceSize</key>
                <string>{280,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cbeltVERT.png</string>
            <key>size</key>
            <string>{192,1778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14655b8896250187ba0d3da56acbe0b3:3756034aa6592210e0205ad754ba7795:c7fa72af12b221339de0f0f9ea562328$</string>
            <key>textureFileName</key>
            <string>cbeltVERT.png</string>
        </dict>
    </dict>
</plist>
