<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HorzConveyerMID1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID11.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID12.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID13.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID14.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,180},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,180},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,180},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,180},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID7.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,180},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,180},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HorzConveyerMID9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,180},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cbeltMID.png</string>
            <key>size</key>
            <string>{1712,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:049a6bb9960ed3169cf33d207cb3ee45:32271337849ad2c376518c5e60bcb1ab:8f830eb7f9d4e25ba6f209caab3c1b52$</string>
            <key>textureFileName</key>
            <string>cbeltMID.png</string>
        </dict>
    </dict>
</plist>
