<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HORZconveyerEND1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,176}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{188,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND11.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND12.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND13.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND14.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,2},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,180},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,180},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND5.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,180},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND6.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,180},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND7.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,180},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,180},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>HORZconveyerEND9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,180},{190,176}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,62},{190,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cbeltEND.png</string>
            <key>size</key>
            <string>{1728,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c3968a0c68394f88046a1f31d388891:2d21ea0cef6f2140d292fff3556119e3:93e7d3a5f29ba63c5c6b9e1ccf561f3c$</string>
            <key>textureFileName</key>
            <string>cbeltEND.png</string>
        </dict>
    </dict>
</plist>
