<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,21}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{121,21}}</string>
                <key>sourceSize</key>
                <string>{121,61}</string>
            </dict>
            <key>rat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{89,21}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{89,21}}</string>
                <key>sourceSize</key>
                <string>{121,61}</string>
            </dict>
            <key>rat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{89,21}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{89,21}}</string>
                <key>sourceSize</key>
                <string>{141,61}</string>
            </dict>
            <key>rat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{88,21}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{88,21}}</string>
                <key>sourceSize</key>
                <string>{100,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ratHorz.png</string>
            <key>size</key>
            <string>{397,25}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46016926c3620bc5630e3c38665ad1fa:2b6dd094f8ec7100001b6f3447861c5d:9e5ffc8bc37d54156b6c6f12b6d709bb$</string>
            <key>textureFileName</key>
            <string>ratHorz.png</string>
        </dict>
    </dict>
</plist>
