<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vertRat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,52}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,53},{18,52}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>vertRat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{20,52}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,53},{20,52}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>vertRat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{18,50}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,54},{18,50}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>vertRat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{20,52}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,53},{20,52}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ratVert.png</string>
            <key>size</key>
            <string>{24,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62bd99c389c283f276903754a767e86a:671af44acfca45bc549ef8da119fe72d:63e579b3baed24b5b84c477139162c86$</string>
            <key>textureFileName</key>
            <string>ratVert.png</string>
        </dict>
    </dict>
</plist>
